.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    color: $c-primary;

    .header__navbarList {
        display: flex;
    }

    .header__navbarListItem {
        padding-left: 20px;
    }

    .header__navbarListAnchor {
        &.active {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: $tablet-down) {
    .header {
        .header__logo {
            width: 124px;
        }
        .header__navbarListItem {
            padding-left: 10px;
        }
        .header__navbarListAnchor {
            text-transform: uppercase;
            font-size: 0.7rem;
        }
    }
}

@media screen and (max-width: $large-mobile-down) {
    .header  {
        .header__logo {
            width: 100px;
        }
        .header__navbarListAnchor {
            text-transform: uppercase;
            font-size: 0.5rem;
        }
    }
}
