.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $c-primary;
    margin: 100px 0px 0px 100px;
    .error__404 {
        font-size: 100px;
        font-weight: 700;
        text-align: center;
    }
    .error__text {
        margin-top: 66px;
        font-size: 36px;
        text-align: center;
    }
    .error__homeLink {
        font-size: 18px;
        text-decoration: underline;
        margin-top: 182px;
    }
}