.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100px;
    background: $c-light-black;
    margin-top: -97px;
    
    .sidebar__navbarListItem {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        background: $c-white;
        border-radius: 6px;
        margin-top: 20px;
    }

    .sidebar__copyright {
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        transform: rotate(-90deg);
        color: $c-white;
        width: max-content;
    }
}